:root {
  font-size: 1.2rem;
  --primary-color: #3aa6ff;
  --selected-hover: #73c7ffaa;
  /* 
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: rgb(245, 245, 245);
  --heading-color: #292922;
  --border-color: #b9b9b9;
  --box-shadow-color: rgba(56, 165, 255, 0.644); */
  /* cards and items */
  /* --card-bg: rgb(250, 250, 250);
  --hover-bg: #e4e4e4; */
  /* multiselect */
  /* --selected: #0099ffaa;
   */
  /* warning alert */
  /* --warning-bg: #f5e3a8;
  --warning-ft: #856404;
  --warning-border: #FFF3CD; */
  /* footer */
  /* --footer-font-color: #e1e1ff;
  --footer-bg-color: #202020; */
  /* loader */
  /* --loader-border: 0.5rem solid #f3f3f3;
  --loader-border-top: 0.5rem solid #3aa6ff; */
}

[data-theme="dark"] {
  /* --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #202020;
  --heading-color: #818cab;
  --border-color: #505050;
  --box-shadow-color: #464545;  */
  /* cards and items  */
  /* --card-bg: #353535;
  --hover-bg: #404040; */
  /* multiselect */
  /* --selected: #003e68aa;
  --selected-hover: #014f83aa; */
  /* warning alert */
  /* --warning-bg: #9b750533;
  --warning-ft: #f8e7b6;
  --warning-border: #be9d2f;  */
}

html,
body {
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
/*
body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}
 */

button {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 0.5em 1em;
  text-transform: uppercase;
  margin: 0.2rem 0.4rem;
}

button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  border: 1px solid black;
  filter: drop-shadow(0px 1px 1px var(--selected-hover));
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
