<script>
  // export let name;
  import Quiz from "./Quiz.svelte";
</script>

<main>
  <div id="call">
    <video id="video" autoplay>
      <track src="." kind="captions" />
    </video>
    <div id="call-controls">
      <button class="end">End Call</button>
      <button>Video</button>
      <button>Microphone</button>
    </div>
  </div>
  <div id="sidebar">
    <Quiz />
  </div>
</main>

<style>
  /* main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	} */
  main {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 0;
    padding: 0 0;
  }
  #call {
    color: white;
    flex: 1;
    background-color: black;
  }

  #video {
    position: relative;
    width: 80%;
    height: 60%;
  }

  #sidebar {
    float: right;
    width: 24vw;
    margin: 0 0;
    /* height: 100vw; */

    background-color: white;
    color: 222222;
    padding: 2em 1em;
    text-align: center;
  }

  #call-controls {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    left: 0;
    right: 25vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .end {
    background-color: red;
  }
</style>
