<script>
  function handleClick(emotion) {
    console.log(emotion + " clicked");
  }

  let imageData = [
    {
      src:
        "https://www.focusonthefamily.com/wp-content/uploads/2019/07/C9AFB4B4854D4442B9CD42E8008017C2.jpeg",
      correct_emotion: "happy",
    },
  ];

  let total_emotions = ["happy", "sad", "angry", "confused", "laughing"];
  let emotions = [];
  let image_obj = {};
</script>

<main>
  {#if image_obj === {}}
    <!-- content here -->
  {:else}
    <h1>What Emotion Is Shown Below?</h1>
    <img src={image_obj.src} class="test-image" />
    <br />

    <div id="button-groups">
      {#each emotions as emotion}
        <button on:click={() => handleClick(emotion)}>{emotion}</button>
      {/each}
    </div>
  {/if}
</main>

<style>
  .test-image {
    width: 75%;
    filter: drop-shadow(0px 4px 4px #474747);
  }

  #button-groups {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
